/********General***********/
.wrap{
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
    
}
h4{
    padding-bottom: 7%;
}

html{
               margin: 0 auto;
           
            background: url(africa.jpg) no-repeat center center fixed;
              -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
            backface-visibility: hidden;
            color:black;
    height: 10%;


}
body{
    
    font-family:monospace;
    
}
.logos{
    height: 30px;
    margin:  20px;
    
}
.mee{
    margin-left: 0;
}
/********Header***********/

.headers{
    background-color: orange;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 5;
}
.column{
    padding-top: 9%;
}

.title-bar{
    background-color: #e6e6e6;
    color: orange;
}

/********hero***********/
.hero{
    margin-top: 1%;
/*    -moz-margin-top: .2%;*/
    height: 500px;
    background-color: transparent;
}


.overview{
    padding-bottom: 15%;
    border-bottom: 1px solid black;
}

.hero h1{
     padding-top: 20%;
    padding-left: 22%;
    font-size: 65px;
    color: orange;
    
}
h3{
    color:orange;
}
.top-bar-right a{
    color: orange;
    font-size: 20px;
    padding-top: 8%;
}
.top-bar{
    margin-bottom: 4px;
}
.twitter{
    background-color: white;
/*    margin-left: -6%;*/
    height: 500px;
        padding-top: 7%;
     border-right: 1px solid black;
    z-index: 3;

}
/********about***********/
.about{
    text-align: center;
    background-color: mintcream;
    margin-bottom: 15%;
    
}
.about overview{
    padding-top: 5%;
}
.speakers{
    padding-top: 15%;
        padding-bottom: 10%;
}


.about img{
    border-radius: 50%;
    
}
img:hover{
   border:5px solid orange;
    background-color: orange;
    
    
}

.button{
    height: 50%;
    
     margin-top: 15%;
    
    background-color: orange;

}
#viewmore{
    margin-top: 0;
    margin-bottom: 5%;
}

.button:hover{
    background-color: orange;
    opacity: 0.5;
    
    
}
.about p{
    font-size: 30px;
    
    
}
.about h4{
        font-size: 70px;
    /* border-top: 1px solid; */
    color: orange;
        padding-top: 5%;
}




/********schedule***********/

.schedule h4{
        font-size: 70px;
/*     border-bottom: 1px solid; */
    color: orange;
        padding-top: 5%;

}
#schedulesection{
    text-align: center;
}
.schedule{
    text-align: center;
    background-color: mintcream;
    margin-bottom: 15%;
}
.event-time{
    margin-right: 0;
    padding-right: 0;
    color: black;
    font-size: 14px;
}
.event-time img{
    height: 20px;
    padding-right: 5px;
}
.accordion-title{
    color: orange;
    font-size: 20px;
    text-align: left;
    padding: 5%;
}
.accordion-title:hover{
    color: orange;
}.accordion-title:active{
    color: orange;
}.accordion-title:visited{
    color: orange;
}

/********register***********/









/********footer***********/
